.flip-card {
  background-color: transparent;
  width: 30%;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}
.flip-card-front p,
.flip-card-back p {
    font-size: 4vw; /* Adjust font size using viewport width */
}

.title {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(228 206 119);
  border-radius: 1rem;
  color: rgb(228 206 119);
}

.flip-card-back {
  background-color: rgb(228 206 119);
  transform: rotateY(180deg);
}

