#search-div {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-search {
    /* width: 80%; */
    /* max-width: 600px;  */
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 15px; 
    font-size: 1.5rem; 
}


/* @media (max-width: 768px) {
    #search-div {
        padding-top: 50px;

    .main-search {
        width: 90%; 
        font-size: 1.2rem; 
    }
} */
