/* CSS for hover effect on navigation bar */
#navbar a {
    color: customOrange;
    transition: color 0.3s; /* Smooth transition for color change */
  }
  
  #navbar a:hover {
    color: white; /* Change color on hover */
  }

